<div class="login-page">
  <div class="overlay"></div>

  <div class="login-container text-center d-flex flex-column align-items-center justify-content-center">
    
    <!-- Imagen animada o decorativa arriba del título -->
    <img src="../../assets/images/conti-logo.png" alt="Imagen decorativa" class="mb-3 login-img" />

    <!-- Título centrado -->
    <h2 class="text-white mb-4">Inicia sesión con Google</h2>

    <!-- Botón de Google personalizado rojo -->
    <div id="google-button" class="google-btn mb-3">
      <img src="assets/images/google-icon.png" alt="Google" class="google-logo" />
    </div>

  </div>
</div>
