.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  app-sidebar {
    width: 250px;   // ancho normal
    transition: width 0.3s ease;
  }

  &.collapsed app-sidebar {
    width: 70px;   // ancho colapsado
  }

  .content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;

    // cuando el sidebar está expandido
    margin-left: 10px;

    &.collapsed {
      margin-left: 10px; // cuando está colapsado
    }
  }
}
