.main-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  // Título + botón crear
  .d-flex.justify-content-between {
    padding: 0 1rem;
  }

  // Filtros
  .row.g-2.mb-4 {
    padding: 0 1rem;
    gap: 1rem;
    justify-content: center;

    .form-control,
    .form-select {
      min-width: 100px;
    }
  }

  // Tabla
  .table-responsive {
    padding: 0 1rem;
    table {
      margin: 0 auto;
      width: 100%;
    }
  }

  // Modal
  .modal-dialog {
    margin-top: 5vh;

    .modal-content {
      padding: 1rem;

      .modal-header,
      .modal-footer {
        justify-content: space-between;
      }

      .modal-body {
        padding-top: 1rem;
      }
    }
  }
}
